.app-container {
  max-width: 900px;
  margin: 0px auto;
  padding: 1px 50px 20px;
  min-height: calc(100% - 55px - 137px);
}

#header {
  margin: 0 auto;
  padding: 50px 50px 10px;
  max-width: 900px;
  // height: 55px;
  border-bottom: 1px solid #eee;
  height: 137px;
}

#footer {
  margin: 0 auto;
  padding: 20px 50px;
  max-width: 900px;
  height: 55px;
  border-top: 1px solid #eee;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #4885ed;
  font-weight: bold;
}

h1 {
  margin-bottom: 0px;
  font-size: 50px;
  margin-top: 0px;
  font-family: 'Product Sans', Arial, sans-serif;
}

h2 {
  margin-bottom: 5px;
  margin-top: 30px;
}

ul {
  margin-top: 0px;
  padding-left: 20px;
}

.b {
  color: #4885ed;
}
.r {
  color: #db3236;
}
.y {
  color: #f4c20d;
}
.g {
  color: #3cba54;
}

button {
  outline: none;
  border-radius: 0px;
  margin: 0px 5px 7px 0px;
  background-color: #eee;
  border: 0px;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  border-left: 5px solid #3cba54;
  transition: .5s;
}

button:hover {
  background-color: #ddd;
  transition: .5s;
}

button.active {
  border-color: #db3236;
  background-color: #FBE9E7;
}

button.active:hover {
  background-color: #FFCCBC;
}

button.dangerous {
  // color: #fff;
  // background-color: #212121;
  // border-color: #db3236;
}

.info {
  font-weight: bold;
}

#copy-text {
  opacity: 0;
  width: 1px;
  cursor: default;
}
